<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheet/main.css">
    <title>UBA</title>
    <style>
        .dropbtn {
          background-color: #3498DB;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
          cursor: pointer;
        }
        
        .dropbtn:hover, .dropbtn:focus {
          background-color: #2980B9;
        }
        
        .dropdown {
          position: relative;
          display: inline-block;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          overflow: auto;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }
        
        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        
        .dropdown a:hover {background-color: #ddd;}
        
        .show {display: block;}
        </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
    
                <a class="navbar-brand" href="/">UBA</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              
              <ul class="nav navbar-nav navbar-right">
                 <li><div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">Banking</button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="sendmoney">Send money</a>
                      <a href="update">Update limit</a>
                      <a href="block">Block Credit card</a>
                      <a href="transHistory">Transaction history</a>
                    </div>
                  </div></li>
                
                      <!--<li><a href="#">Signed In As</a></li>-->
                      <li><a href="home">Home</a></li> 

                      <li><a href="./logout">Logout</a></li>
                 
              </ul>
            </div>
        </div>
    </nav>
    <div class="container">
       
            <% if (error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <h1><%= error %> </h1>
                </div>
            <% } %>
            <% if (success && success.length > 0) { %>
                <div class="alert alert-success" role="alert">
                    <h1><%= success %> </h1>
            
                </div>
            <% } %>
        
    </div>
    <div class="row">
        <h1 style="text-align: center">Transaction History</h1>
        <br>
        <table class="table table-striped table-primary">
            <thead>
              <tr>
                  <th>name</th>
                  <th>account</th>
                  <th>amount</th>
                  <th>reference</th>
                  <th>exampleRadios</th>
                  <th>Date</th>
                
              </tr>
            </thead>
            <tbody>
              <%if ( user.Withdrawals.length > 0 ){ %>
              <% user.Withdrawals.forEach(function(row){ %>
              <tr>
                <td><%= row.name %></td>
                <td><%= row.account %></td>
                <td><%= row.amount %></td>
                <td><%= row.reference %></td>
                <td><%= row.exampleRadios %></td>
                <td><%= row.date %></td>
                
              </tr>
              <% })}else{ %>
                <tr>
                    <td colspan="6">No Record Found</td>
                    
                  </tr>
                <% } %>
            </tbody>
          </table>
    </div>
    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }
        
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
        </script>
        
        </body>
        </html>